<! Interanzionalization example: here you can put english content.>	
	<% content_for :head do %>
		<title>LANDING PAGE</title>
	<% end %>
	<% content_for :body do %>
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>-->

		<div class="container-fluid no-padding fill">
				<div class="no-padding" id="layout_page">
					<div class="row">
						<h1 class="text-center">Boxhiking</h1>
						<a style="text-center"><%= link_to 'Box', boxes_path %></a>
						<a style="text-center"><%= link_to 'Travel', travels_path %></a>
					</div>
				</div>
		</div>

	<% end %>
</html>
