<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p>
			<%= @user.email %> ti scrive e vuole che affidi a lui il suo pacco.
			Paga il tuo traveler alla pagina (work in progress)
		</p>
		<h4>
		</h4>
	</body>
</html>
